<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Gallery">
	<sql id="select">
		select * from Gallery
	</sql>

	<select id="selectAll" resultType="Gallery">
		<include refid="select" />
		order by Gallery_id desc
	</select>

	<select id="selectOne" parameterType="int" resultType="Gallery">
		<include refid="select" />
		where Gallery_id=#{Gallery_id}
	</select>

	<insert id="insert" parameterType="Gallery">
		insert into Gallery(gallery_id, title,writer,content)
		values( seq_gallery.nextval ,#{title},#{writer},#{content})
	</insert>

</mapper>









